.Font {
	font-family: "IBM Plex Serif", serif;
}

.OverlayName {
	font-size: 5vh;
	margin-top: -3vh;
	text-align: center;
}

.OverlayDescription {
	margin-left: 0.5vw;
	font-size: 2.25vh;
}

.OverlayListTitle {
	font-size: 3vh;
	margin-left: 0.5vw;
	margin-top: 2vh;
}

.OverlayIngredientItem {
	font-size: 2.5vh;
	margin-left: 2vw;
}

.OverlayInstructions {
	font-size: 2.5vh;
	margin-left: 2vw;
}

.OverlaySaveRecipe {
	font-family: "IBM Plex Serif", serif;
	margin-left: 48.5vw;
	margin-top: 18vh;
	font-size: 3vh;
	width: 10vw;
}

.SaveRecipeNoteResult {
	width: 35vw;
	margin-left: 0.5vw;
	display: inline-block;
	max-height: 33vh;
	background-color: white;
}

.NoteStylingResult {
	margin-top: 2vh;
}

.SaveRecipeNoteResult {
	margin-top: 1vh;
}

.SaveRecipeDateResult {
	margin-top: 1vh;
}

.SaveButtonOverlayResult {
	width: 5vw;
}
