.Title {
	font-family: "IBM Plex Serif", serif;
	text-align: center;
}

.TitleSize {
	font-size: calc(18px + 2vh);
}

.Flex {
	flex-direction: row;
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 0.5vw;
}

.InputFont {
	font-size: calc(12px + 0.5vh);
}

.SearchButton {
	font-family: "IBM Plex Serif", serif;
	box-sizing: content-box;
	background-color: #8fc0a9ff;
	border: solid;
	border-width: 0.25vh;
	border-radius: 1vh;
	height: calc(16px + 0.7vh);
	font-size: calc(12px + 0.5vh);
	/* border-color: rgb(98, 165, 134); */
	border-color: rgb(134, 179, 158);
	font-weight: 500;
}
