.Font {
	font-family: "IBM Plex Serif", serif;
}

.Name {
	margin-top: 5vh;
	font-size: 4.5vh;
}

.Description {
	margin-top: -3vh;
	font-size: 2vh;
	margin-bottom: 5vh;
}
.DropDownButton {
	margin-left: 33vw;
	font-size: 2vh;
	margin-bottom: 5vh;
}
.DropDownText {
	margin-left: 33vw;
	font-size: 2vh;
	margin-bottom: 5vh;
}
.Ingredient {
	margin-left: 33vw;
}

.SideBox {
	background-color: #cfc;
	padding: 100px;
}
