table {
    margin: auto;
    border: 1px solid #999;
    border-collapse: collapse;
    font-family: Georgia, Times, serif;
}
th {
    border: 1px solid #999;
    font-size: 70%;
    text-transform: uppercase;
}
td {
    border: 1px solid #999;
    height: 5em;
    width:5em;
    padding: 5px;
    vertical-align: top;
}
caption {
    font-size: 300%;
    font-style: italic;
}
.card {
    text-align: center;
    padding: 0.25rem;
}
.day {
    text-align: left;
}
.notes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-align: right;
    padding-left: 20px;
}
.highlight {
    background-color: #ECE;
}
.weekend {
    background-color: #F3F3F3;
}
.drop {
    padding: 0.25rem;
    background-color: #c8d5b9ff;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}