.Login {
	width: 15vw;
	height: 5vh;
	text-align: center;
	padding-top: 2vh;
	/* line-height: 1.1em; */
	/* font-size: 1.1em; */
}

.Logout {
	width: 15vw;
	height: 5vh;
	text-align: center;
	padding-top: 2vh;
	/* line-height: 1.1em; */
	/* font-size: 1.1em; */
}

.LogoutMargin {
	display: flex;
	margin-top: 5vh;
}

.LoginMargin {
	display: flex;
	margin-top: 15vh;
}

.Status {
	text-align: right;
}
